.cardbluep, .flexx, .vinito, .apa, .blacklabel, .paris, .asd1, .imghabano {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexx .borde, .vinito .vinoimg, .apa .apa2, div .vino3, .asd1 .asd2, .asdd .imgblended, .aaaa .imagen, .carousel, .imgdiv .sa {
  border: 2px white solid;
}

.flexx .parrafo, .ds .parra, .ds .parraf, .vinito .vinoimg, div .vino3, div .parrafo0, div .hpp, div .parrafo, div .whiskybb, section .whiskybb, section .nacional, section .parrafo, .asd1 .asd3, .asd1, .asdd .h3blended {
  margin: 30px;
}

.pasto, .flexx .bbe, .pai, .ds, .blacklabel, div .caro2, div .caro, div .parrafito, div .ptemperatura, div .temperatura, div .vinoparrafo, div .elproceso, .divpapa, .diva .h2coc {
  margin: 20px;
}

.footer {
  text-align: center;
  font-size: 30px;
  background-color: gold;
  color: black;
  font-family: "Tilt Prism", cursive;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
}
@media (max-width: 375px) {
  .footer {
    height: 6%;
  }
}
@media (max-height: 736px) {
  .footer {
    height: 6%;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}
nav a {
  position: relative;
  text-decoration: none;
  color: #a0a0a0;
  font-size: 20px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}
nav a:after {
  content: "";
  position: absolute;
  background-color: gold;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
nav a:hover:after {
  width: 100%;
}
nav a:hover {
  color: white;
}

body {
  background: rgb(15, 2, 2);
  background: -moz-linear-gradient(90deg, rgb(15, 2, 2) 38%, rgb(34, 4, 4) 86%);
  background: -webkit-linear-gradient(90deg, rgb(15, 2, 2) 38%, rgb(34, 4, 4) 86%);
  background: linear-gradient(90deg, rgb(15, 2, 2) 38%, rgb(34, 4, 4) 86%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0202",endColorstr="#220404",GradientType=1);
  color: #a0a0a0;
  font-family: "Bebas Neue", sans-serif;
  overflow-x: hidden;
}

.carousel-inner {
  max-height: 40rem;
  filter: brightness(0.6);
}

.section {
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 50px;
  color: white;
}
@media (max-width: 414px) {
  .section {
    font-size: 30px;
  }
}
.section .h1 {
  font-size: 50px;
  margin-top: 40px;
}
@media (max-width: 414px) {
  .section .h1 {
    font-size: 30px;
  }
}
.section .anim2 {
  transition: all 0.9s;
}
.section .anim2:hover {
  transform: scale(1.3, 1.3);
  color: gold;
}

.imgdiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.aaaa {
  display: flex;
}
.aaaa .imagen {
  width: 500px;
  margin-right: 20px;
  margin-left: 20px;
}
@media (max-width: 375px) {
  .aaaa .imagen {
    width: 80%;
  }
}
@media (max-width: 414px) {
  .aaaa .imagen {
    width: 80%;
  }
}
.aaaa .anim00 {
  transition: 0.5s all;
}
.aaaa .anim00:hover {
  filter: brightness(0.6);
}
@media (max-width: 576px) {
  .aaaa {
    display: block;
    text-align: center;
    margin: 20px;
  }
}

.diva {
  font-size: 20px;
}
.diva .h2coc {
  color: gold;
}

.h3, .h3c, .hppp, .spana {
  color: gold;
}

.asdd {
  display: flex;
}
.asdd .imgblended {
  width: 25%;
}
.asdd .h3blended {
  color: gold;
}
.asdd .pblended {
  text-align: center;
  font-size: 25px;
  margin-right: 20px;
  margin-left: 20px;
}
@media (max-width: 576px) {
  .asdd .media {
    font-size: 20px;
    text-align: left;
  }
}
@media (max-width: 576px) {
  .asdd .media20 {
    width: 60%;
    object-fit: cover;
    height: 500px;
    margin: 40px;
  }
}
@media (max-width: 576px) {
  .asdd {
    display: block;
    text-align: center;
  }
}

.types {
  list-style: none;
}

.divpapa {
  text-align: center;
  font-size: 40px;
  color: white;
}

.h3b {
  text-align: center;
}
.h3b .h3a {
  font-size: 40px;
  color: white;
}

.cigarro {
  text-align: end;
  margin-left: 60px;
  margin-right: 50px;
  margin-top: 60px;
  color: white;
  font-size: 50px;
}

.asd1 .asd2 {
  width: 35%;
}
.asd1 .asd3 {
  font-size: 40px;
  color: white;
}
@media (max-width: 576px) {
  .asd1 .media55 {
    width: 55%;
  }
}
@media (max-width: 375px) {
  .asd1 .asd3 {
    font-size: 30px;
  }
}
@media (max-width: 414px) {
  .asd1 .asd3 {
    font-size: 30px;
  }
}

.paris .paris2 {
  width: 40%;
}
@media (max-width: 576px) {
  .paris .mediaimg {
    width: 85%;
  }
}
.paris .anim5 {
  transition: all 1s;
}
.paris .anim5:hover {
  transform: scale(1.1, 1.1);
  border: 10px solid peru;
}

section .parrafo {
  font-size: 30px;
  text-align: center;
}
section .habanoo {
  text-align: center;
  font-size: 60px;
  color: white;
  margin: 60px;
}
section .nacional {
  text-align: center;
  color: white;
  font-size: 50px;
}
@media (max-width: 414px) {
  section .nacional {
    font-size: 40px;
  }
}
section .calidad {
  margin-top: 60px;
  margin-left: 50px;
  color: white;
  font-size: 50px;
}
section .whiskybb {
  color: white;
  text-align: center;
  font-size: 50px;
}
@media (max-width: 576px) {
  section .media {
    font-size: 20px;
    text-align: left;
  }
}
section .anim4 {
  transition: all 1s;
}
section .anim4:hover {
  transform: scale(1.1, 1.1);
  color: peru;
}

.anim2 {
  transition: all 0.5s;
}

.anim2:hover {
  transform: scale(1.1, 1.1);
  color: gold;
}

div .whiskybb {
  color: white;
  text-align: center;
  font-size: 50px;
}
@media (max-width: 414px) {
  div .whiskybb {
    font-size: 40px;
  }
}
div .parrafo2 {
  margin-left: 50px;
  margin-top: 30px;
  font-size: 30px;
}
div .parrafo {
  font-size: 30px;
  text-align: center;
}
div .hpp {
  text-align: center;
  font-size: 50px;
  color: white;
}
@media (max-width: 414px) {
  div .hpp {
    font-size: 40px;
  }
}
div .parrafo3 {
  text-align: end;
  font-size: 30px;
  margin-top: 30px;
  margin-right: 50px;
}
div .parrafo0 {
  text-align: center;
  font-size: 30px;
}
div .cas {
  text-align: center;
  font-size: 40px;
  color: peru;
  list-style: none;
}
div .final {
  text-align: center;
  color: white;
  font-size: 50px;
  margin: 50px;
}
div .parrafo4 {
  text-align: center;
  margin: 50px;
  font-size: 30px;
}
div .elproceso {
  text-align: end;
  font-size: 50px;
  color: white;
}
div .vinoparrafo {
  text-align: end;
  font-size: 30px;
}
div .temperatura {
  text-align: left;
  font-size: 50px;
  color: white;
}
div .ptemperatura {
  text-align: left;
  font-size: 30px;
}
div .parrafito {
  font-size: 30px;
  text-align: center;
}
div .vino3 {
  width: 30%;
}
div .caro {
  color: white;
  font-size: 40px;
}
@media (max-width: 576px) {
  div .caro {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 35px;
  }
}
div .caro2 {
  color: white;
  font-size: 40px;
  text-align: end;
}
@media (max-width: 375px) {
  div .caro2 {
    text-align: center;
  }
}
@media (max-width: 414px) {
  div .caro2 {
    text-align: center;
  }
}
@media (max-width: 576px) {
  div .media {
    font-size: 20px;
    text-align: left;
  }
}
@media (max-width: 576px) {
  div .medi {
    font-size: 20px;
    text-align: right;
  }
}
@media (max-width: 576px) {
  div .mediaimg {
    width: 80%;
  }
}
@media (max-width: 576px) {
  div .imgzzz {
    text-align: center;
  }
}
div .anim3 {
  transition: all 1s;
}
div .anim3:hover {
  border: 10px solid crimson;
  transform: scale(1.1, 1.1);
}

.blacklabel .parrafoblack {
  text-align: center;
  font-size: 30px;
  margin-right: 20px;
}
.blacklabel .nnn {
  width: 30%;
}
@media (max-width: 576px) {
  .blacklabel .media {
    font-size: 20px;
    text-align: left;
  }
}
@media (max-width: 576px) {
  .blacklabel .media11 {
    width: 40%;
    object-fit: cover;
  }
}
@media (max-width: 375px) {
  .blacklabel .nnn {
    height: 300px;
    object-fit: cover;
  }
}
@media (max-width: 414px) {
  .blacklabel .nnn {
    height: 300px;
    object-fit: cover;
  }
}

.aaa {
  font-size: 40px;
  color: gold;
  margin: 40px;
}

.apa .apa2 {
  width: 40%;
}
@media (max-width: 576px) {
  .apa .media5 {
    width: 70%;
  }
}

.spanb {
  color: crimson;
}

.spanc {
  color: peru;
}

.vinito {
  margin: 50px;
}
.vinito .vinoimg {
  width: 35%;
}
@media (max-width: 576px) {
  .vinito {
    margin: 0;
  }
}
@media (max-width: 576px) {
  .vinito .media5 {
    width: 70%;
  }
}
.vinito .anim3 {
  transition: all 1s;
}
.vinito .anim3:hover {
  border: 10px solid crimson;
  transform: scale(1.1, 1.1);
}

.span1 {
  color: white;
}

.aa {
  margin: 50px;
}

.ds {
  display: flex;
}
.ds .imgw {
  width: 25%;
  margin-bottom: 40px;
}
.ds .parraf {
  text-align: right;
  font-size: 30px;
}
.ds .parra {
  text-align: left;
  font-size: 30px;
}
@media (max-width: 576px) {
  .ds .media {
    font-size: 20px;
    text-align: left;
    margin-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .ds .media6 {
    width: 40%;
  }
}
@media (max-width: 576px) {
  .ds .media11 {
    width: 30%;
    object-fit: cover;
  }
}
@media (max-width: 375px) {
  .ds .media6 {
    width: 65%;
    object-fit: cover;
    height: 300px;
    margin-bottom: 40px;
  }
}
@media (max-width: 375px) {
  .ds .media11 {
    width: 85%;
    height: 400px;
    object-fit: cover;
  }
}
@media (max-width: 375px) {
  .ds {
    display: block;
    text-align: center;
  }
}
@media (max-width: 414px) {
  .ds .media6 {
    width: 65%;
    object-fit: cover;
    height: 300px;
    margin-bottom: 40px;
  }
}
@media (max-width: 414px) {
  .ds .media11 {
    width: 85%;
    height: 400px;
    object-fit: cover;
  }
}
@media (max-width: 414px) {
  .ds {
    display: block;
    text-align: center;
  }
}

.pai {
  text-align: center;
  color: white;
  font-size: 40px;
}

.flexx {
  margin-bottom: 20px;
  margin-top: 20px;
}
.flexx .parrafo {
  font-size: 30px;
  text-align: center;
}
.flexx .bbe {
  width: 25%;
}
@media (max-width: 576px) {
  .flexx .media {
    font-size: 20px;
    text-align: left;
  }
}
@media (max-width: 576px) {
  .flexx .media6 {
    width: 35%;
  }
}
@media (max-width: 375px) {
  .flexx {
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 375px) {
  .flexx .bbe {
    width: 60%;
  }
}
@media (max-width: 414px) {
  .flexx {
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 414px) {
  .flexx .bbe {
    width: 60%;
  }
}

.pasto {
  color: white;
  font-size: 40px;
  text-align: center;
}

.cardbluep {
  margin-top: 130px;
  margin-bottom: 150px;
}
@media (max-width: 414px) {
  .cardbluep {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}
@media (max-width: 414px) {
  .cardbluep {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
.cardbluep .cardblue {
  width: 50%;
  position: absolute;
  opacity: 0.4;
  border-radius: 30px;
  border: 4px solid white;
}
@media (max-width: 576px) {
  .cardbluep .cardblue {
    width: 95%;
    height: 60%;
  }
}
@media (max-width: 414px) {
  .cardbluep .cardblue {
    width: 90%;
    height: 50%;
  }
}
@media (max-width: 375px) {
  .cardbluep .cardblue {
    width: 90%;
    height: 60%;
  }
}
.cardbluep .cardbluep {
  color: white;
  font-size: 25px;
}
@media (max-width: 576px) {
  .cardbluep .cardbluep {
    font-size: 20px;
  }
}
@media (max-width: 414px) {
  .cardbluep .cardbluep {
    font-size: 15px;
  }
}
@media (max-width: 375px) {
  .cardbluep .cardbluep {
    font-size: 13px;
  }
}

.header {
  text-align: center;
  font-size: 30px;
  background-color: gold;
  color: black;
  font-family: "Tilt Prism", cursive;
}

.pan {
  color: white;
  font-size: 4rem;
  display: inline-block;
  position: relative;
  display: flex;
  margin: 40px;
  justify-content: center;
}
@media (max-width: 576px) {
  .pan {
    text-align: center;
  }
}
@media (max-width: 414px) {
  .pan {
    font-size: 50px;
    text-align: center;
  }
}

.pan:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: gold;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}

.pan:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.pana {
  color: white;
  font-size: 4rem;
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 40px;
  padding: 20px;
}
@media (max-width: 576px) {
  .pana {
    text-align: center;
  }
}
@media (max-width: 414px) {
  .pana {
    font-size: 50px;
  }
}

.pana:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: gold;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}

.pana:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*# sourceMappingURL=style.css.map */
