.footer{
    @include txt (center);
    font-size: nth($fz, 3);
    background-color: nth($clr, 1);
    color: black;
    font-family: 'Tilt Prism', cursive;
    position: fixed;
    left: 0;
    bottom: 0;
    @include wit (100%);
    height: 5%;
    @media (max-width: 375px){
        height: 6%;
    }
}