body{
    background: rgb(15,2,2);
    background: -moz-linear-gradient(90deg, rgba(15,2,2,1) 38%, rgba(34,4,4,1) 86%);
    background: -webkit-linear-gradient(90deg, rgba(15,2,2,1) 38%, rgba(34,4,4,1) 86%);
    background: linear-gradient(90deg, rgba(15,2,2,1) 38%, rgba(34,4,4,1) 86%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0202",endColorstr="#220404",GradientType=1);
    color: #a0a0a0;
    font-family: 'Bebas Neue', sans-serif;
    overflow-x: hidden;
}
.carousel-inner{
    max-height: 40rem;
    filter: brightness(0.6);
}
.section{
    text-align: center;
    @include mp (10px, 10px);
    font-size: nth($fz , 2);
    color: nth($clr, 2);
    .h1{
        font-size: nth($fz , 2);
        margin-top: $var1;
    }
    .anim2{
        transition: all 0.9s;
    }
    .anim2:hover{
        transform: scale(1.3, 1.3);
        color: nth($clr, 1);
    }
}
.imgdiv{
    @include flex (flex, space-around, center);
    .sa{
        margin: $var1;
        @extend %border;
    }
}
.carousel{
    @extend %border;
}
.aaaa{
    display: flex;
    .imagen{
        @include wit (500px);
        margin-right: map-get($ppp, tino-a);
        margin-left: map-get($ppp, tino-a);
        @extend %border;
    }
    @media (max-width: 576px){
        .media90{
            @include wit (50%);
            object-fit: cover;
            height: 700px;
        }
    }
}
.diva{
    font-size: nth($fz , 5);
    .h2coc{
        color: nth($clr, 1);
    }
}
.h3, .h3c, .hppp, .spana{
    color: nth($clr, 1);
}
.asdd{
    display: flex;
    .imgblended{
        @include wit (25%);
        @extend %border;
    }
    .h3blended{
        @extend %mar;
        color: nth($clr, 1);
    }
    .pblended{
        @include txt (center);
        font-size: nth($fz, 4);
        margin-right: map-get($ppp, tino-a);
        margin-left: map-get($ppp, tino-a);
    }
    @media (max-width: 576px){
        .media{
            font-size: nth($fz, 5);
            @include txt (left);
        }
    }
    @media (max-width: 576px){
        .media20{
            @include wit (30%);
            object-fit: cover;
            height: 500px;
        }
    }
}
.divpapa{
    @include txt (center);
    font-size: nth($fz, 2);
    @extend %mar2;
    color: nth($clr, 2);
}
.h3b{
    @include txt (center);
    .h3a{
        font-size: nth($fz, 2);
        color: nth($clr, 2)
    }
}
.cigarro{
    @include txt (end);
    margin-left: map-get($ppp, tino-b);
    margin-right: $var2;
    margin-top: map-get($ppp, tino-b);
    color: nth($clr, 2);
    font-size: nth($fz , 1);
}
.imghabano{
    @extend %dflex;
}
.asd1{
    @extend %dflex;
    @extend %mar;
    .asd2{
        @extend %border;
        @include wit (35%);
    }
    .asd3{
        @extend %mar;
        font-size: nth($fz, 2);
        color: nth($clr , 2);
    }
}
.paris{
    @extend %dflex;
    .paris2{
        @include wit (40%);
    }
    @media (max-width: 576px){
        .mediaimg{
            @include wit (85%);
        }
    }
    .anim5{
        transition: all 1s;
    }
    .anim5:hover{
        transform: scale(1.1, 1.1);
        border: 10px solid nth($clr, 4);
    }
}
section{
    .parrafo{
        font-size: nth($fz, 3);
        @include txt (center);
        @extend %mar;
    }
    .habanoo{
        @include txt (center);
        font-size: map-get($ppp, tino-b);
        color: nth($clr, 2);
        margin: map-get($ppp, tino-b);
    }
    .nacional{
        @include txt (center);
        color: nth($clr, 2);
        font-size: nth($fz, 1);
        @extend %mar;
    }
    .calidad{
        margin-top: map-get($ppp, tino-b);
        margin-left: $var2;
        color: nth($clr, 2);
        font-size: nth($fz, 1);
    }
    .whiskybb{
        color: nth($clr, 2);
        @include txt (center);
        font-size: nth($fz, 1);
        @extend %mar;
    }
    @media (max-width: 576px){
        .media{
            font-size: nth($fz, 5);
            @include txt (left);
        }
    }
    .anim4{
        transition: all 1s;
    }
    .anim4:hover{
        transform: scale(1.1, 1.1);
        color: nth($clr, 4);
    }
    .asno{
        transition: all 1s;
    }
    .asno:hover{
        border: 7px solid nth($clr, 1);
    }
}
.anim2{
    transition: all 0.9s;
}
.anim2:hover{
    transform: scale(1.3, 1.3);
    color: nth($clr, 1);
}
div{
    .whiskybb{
        color: nth($clr, 2);
        @include txt (center);
        font-size: nth($fz, 1);
        @extend %mar;
    }
    .parrafo2{
        margin-left: $var2;
        margin-top: 30px;
        font-size: nth($fz , 3);
    }
    .parrafo{
        font-size: nth($fz, 3);
        @include txt (center);
        @extend %mar;
    }
    .hpp{
        @include txt (center);
        font-size: nth($fz, 2);
        @extend %mar;
        color: nth($clr, 2);
    }
    .parrafo3{
        @include txt (end);
        font-size: nth($fz , 3);
        margin-top: 30px;
        margin-right: $var2;
    }
    .parrafo0{
        @include txt (center);
        font-size: nth($fz, 3);
        @extend %mar;
    }
    .cas{
        @include txt (center);
        font-size: nth($fz, 2);
        color: nth($clr, 4);
        list-style: none;
    }
    .final{
        @include txt (center);
        color: nth($clr, 2);
        font-size: nth($fz, 1);
        margin: $var2;
    }
    .parrafo4{
        @include txt (center);
        margin: $var2;
        font-size: nth($fz, 3);
    }
    .elproceso{
        @include txt (end);
        font-size: nth($fz, 1);
        color: nth($clr, 2);
        @extend %mar2;
    }
    .vinoparrafo{
        @include txt (end);
        @extend %mar2;
        font-size: nth($fz, 3);
    }
    .temperatura{
        @include txt (left);
        font-size: nth($fz, 1);
        color: nth($clr, 2);
        @extend %mar2;
    }
    .ptemperatura{
        @include txt (left);
        @extend %mar2;
        font-size: nth($fz, 3);
    }
    .parrafito{
        font-size: nth($fz, 3);
        @include txt (center);
        @extend %mar2;
    }
    .vino3{
        @include wit (30%);
        @extend %mar;
        @extend %border;
    }
    .caro{
        color: nth($clr, 2);
        font-size: nth($fz, 2);
        @extend %mar2;
    }
    .caro2{
        color: nth($clr, 2);
        font-size: nth($fz, 2);
        @extend %mar2;
        @include txt (end);
    }
    @media (max-width: 576px){
        .media{
            font-size: nth($fz, 5);
            @include txt (left);
        }
    }
    @media (max-width: 576px){
        .medi{
            font-size: nth($fz, 5);
            @include txt (right);
        }
    }
    @media (max-width: 576px){
        .mediaimg{
            @include wit (85%);
        }
    }
    .anim3{
        transition: all 1s;
    }
    .anim3:hover{
        border: 10px solid nth($clr, 3);
        transform: scale(1.1, 1.1);
    }
}
.blacklabel{
    @extend %dflex;
    margin: $var1;
    .parrafoblack{
        @include txt (center);
        font-size: nth($fz, 3);
        margin-right: map-get($ppp, tino-a);
    }
    .nnn{
        @include wit (30%);
    }
    @media (max-width: 576px){
        .media{
            font-size: nth($fz, 5);
            @include txt (left);
        }
    }
    @media (max-width: 576px){
        .media11{
            @include wit (40%);
            object-fit: cover;
        }
    }
}
.aaa{
    font-size: nth($fz, 2);
    color: nth($clr, 1);
    margin: $var1;
}
.apa{
    @extend %dflex;
    .apa2{
        @extend %border;
        @include wit (40%);
    }
    @media (max-width: 576px){
        .media5{
            @include wit (70%);
        }
    }
}
.spanb{
    color: nth($clr, 3);
}
.spanc{
    color: nth($clr, 4);
}
.vinito{
    @extend %dflex;
    .vinoimg{
        @include wit (35%);
        @extend %border;
        @extend %mar;
    }
    @media (max-width: 576px){
        .media5{
            @include wit (70%);
        }
    }
    .anim3{
        transition: all 1s;
    }
    .anim3:hover{
        border: 10px solid nth($clr, 3);
        transform: scale(1.1, 1.1);
    }
}
.span1{
    color: nth($clr, 2);
}
.aa{
    margin: $var2;
}
.ds{
    display: flex;
    @extend %mar2;
    .imgw{
        @include wit (25%);
    }
    .parraf{
        @include txt (right);
        font-size: nth($fz, 3);
        @extend %mar;
    }
    .parra{
        @include txt (left);
        font-size: nth($fz, 3);
        @extend %mar;
    }
    @media (max-width: 576px){
        .media{
            font-size: nth($fz, 5);
            @include txt (left);
        }
    }
    @media (max-width: 576px){
        .media6{
            @include wit (35%);
        }
    }
    @media (max-width: 576px){
        .media11{
            @include wit (40%);
            object-fit: cover;
        }
    }
}
.pai{
    @include txt (center);
    color: nth($clr, 2);
    font-size: nth($fz, 2);
    @extend %mar2;
}
.flexx{
    @extend %dflex;
    .borde{
        @extend %border;
    }
    .parrafo{
        font-size: nth($fz, 3);
        @include txt (center);
        @extend %mar;
    }
    .bbe{
        @include wit (25%);
        @extend %mar2;
    }
    @media (max-width: 576px){
        .media{
            font-size: nth($fz, 5);
            @include txt (left);
        }
    }
    @media (max-width: 576px){
        .media6{
            @include wit (35%);
        }
    }
}
.aasdd{
    @extend %dflex;
    margin-bottom: $var2;
    gap: 10px;
    .imgblue{
        @include wit (40%);
    }
    .anim{
        transition: all 1.3s;
    }
    .anim:hover{
        transform: scale(1.1, 1.1);
        padding: 10px;
        background-color: nth($clr, 1);
    }
}
.pasto{
    color: nth($clr, 2);
    @extend %mar2;
    font-size: nth($fz, 2);
    @include txt (center);
}