nav{
    @include flex (flex, space-around, center);
    margin-bottom: 15px;
    a{
        position: relative;
        text-decoration: none;
        color: #a0a0a0;
        font-size: 20px;
        letter-spacing: 0.5px;
        padding: 0 10px;
    }
    a:after{
        content: "";
        position: absolute;
        background-color: gold;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }
    a:hover:after{
        @include wit (100%);
    }
    a:hover{
        color: nth($clr , 2 );
    }
}