@mixin mp($mrg, $pd){
    margin: $mrg;
    padding: $pd;
}
@mixin flex($df, $js, $ag){
    display: $df;
    justify-content: $js;
    align-items: $ag;
}
@mixin txt($txt){
    text-align: $txt;
}
@mixin wit($wit){
    width: $wit;
}